.gradientText {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 6em;
    padding: 10px;
    text-align: center;
  }

  .legendStyle {
    font-size: 2em;
  }

/*Referente ao Home.module.js*/
  #commentsDisplay {
    margin-top: 20px;
  }

  .commentBlock {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  